h1, h2{
	text-align: center;
}
.formularioClientes{
    display:flex;
	flex-direction: column;
	text-align: center;
	max-width: 600px;
	margin: 5em auto;
	border: lightgray solid 5px;
	border-radius: 15px;
	padding: 2em;
}



#btnBorrar, #btnModificar, #btnBuscar{
	width: auto;
}
.btn {
	
	padding: .5em;
	background-color: green;
	width: 7em;
	color: white;
	border: white solid thin;
	border-radius: 10px;
	text-align: center;
	font-size: 1em;
}

.divBuscar{
	display:flex;	
	margin-top: 3em;
}
#divSocios{
	display: grid;
	margin: auto;
	text-align: center;
	width: 50%;
}


#tabla {
	width: 100%;
    padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}

#tabla th, #tabla td {
	width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

#tabla tr:nth-child(even) {
    background-color: #f2f2f2;
}